<form action='/comments' method='POST'>
	<input type='textarea' name='body'>
	<input type='hidden' name='topic_id' value='<%= @topic_id %>'>
	<input type='hidden' name='member_id' value='<%= @member_id %>'>
	<input type='submit' value='comment'>
</form>