<link rel="stylesheet" type="text/css" href="css/welcome.css">

<div id="content">

	<h1> Welcome to the Forum </h1>
	<p>
		Browsing is open to the public. Posting is restricting to members only. Please log-in or sign-up to post.
	</p>
</div>

<aside>
	<div id='aside_wrap'>
		<p id='login_status'>
				You are not logged in
		</p>

		<p id='member_alert'><%= @message %></p>

		<h2 class='cta'>Log-In</h2>
		<form class='login_signup' action='/members/login' method='POST'>
			<input type='text' name='username' placeholder='username'><br>
			<input type='text' name='password' placeholder='password'><br>
			<input type='submit' value='log-in'>
		</form>

		<h2 class='cta'>Sign-Up</h2>
		<form class='login_signup'  action='/members' method='POST'>
			<input type='text' name='name' placeholder='given name'><br>
			<input type='text' name='email' placeholder='email'><br>
			<input type='text' name='username' placeholder='desired username'><br>
			<input type='password' name='password' placeholder='password'></br>
			<input type='password' name='verification' placeholder='repeat password'></br>
			<input type='submit' value='sign-up'>
		</form>
	</div>
<aside>