/*.comment {
	width: 700px;
	height: 60px;
	margin: 15px auto;
	border: 1px solid teal;
	box-shadow: 2px 2px 5px teal;
}

.topic_title {
	font-size: 16px;
	margin-left: 10px;
	margin-bottom: -20px;
}

.topic_data {
	list-style-type: none;
	display: inline;
	font-size: 12px;
}*/

.display_nav {
	text-align: center;
}

#delete_comment {
	text-align: center;
}